<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          Add Course
        </div>
        <div class="card-text">
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="coursename">Course Name</label>
              <input type="text" name="coursename" id="coursename" [(ngModel)]="course.subName" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="subId">Subject ID</label>
              <input type="number" name="subId" id="subId" [(ngModel)]="course.subId" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="semester">Semester</label>
              <input type="text" name="semester" id="semester" [(ngModel)]="course.sem" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="department">Department</label>
              <input type="text" name="department" id="department" [(ngModel)]="course.dept" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="modules">Modules</label>
              <input type="number" name="modules" id="modules" class="form-control" [(ngModel)]="course.numberOfModules"
                (keyup)="addModule()" required>
            </div>

            <div class="form-group">
              <label for="marks">Marks</label>
              <input type="text" [(ngModel)]="course.marksType" name="marks" id="marks" class="form-control" required>
            </div>


            <div *ngFor="let number of list">
              <div class="form-group">
                <label for="marks">Module {{number}} Description</label>
                <input type="text" [(ngModel)]="course.moduleDetails[number-1]" name="details" class="form-control" required>
              </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>