<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          Add Validator
        </div>
        <div class="card-text">
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="selectedValidator.name"
                required>
            </div>
            <div class="form-group">
              <label for="id">id</label>
              <input type="number" name="id" class="form-control" [(ngModel)]="selectedValidator.id"
                required>
            </div>

            <div class="form-group">
              <label for="password">password</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="selectedValidator.password"
                required>
            </div>

            <div class="form-group">
              <label for="subjects">Subjects</label>
              <input type="text" name="subjectsAssigned" class="form-control" [(ngModel)]="selectedValidator.subjectsAssigned"
                required>
            </div>
            <input type="submit" value="Submit" class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {{ selectedValidator.id }}
  {{ selectedValidator.name }}
  {{ selectedValidator.password }}
  {{ selectedValidator.subjectsAssigned }}
</div>